---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.iups-header { 
	width: 100%; 
	/* background-image: url(img/IUPSTeamTourLogo.png); */
	background-size: cover; 
	background-position: center; 
} 

.iups-img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 0px;

  /*float: left;*/
  /*width: 100px;*/
  /*height: 100px;*/
  /*background: #555;*/
  /*border: 0*/
  /*now to undo the border they put on by default*/
  box-shadow: 0 0 0px #ebebeb;
  -webkit-box-shadow: 0 0 0px #ebebeb;
  -moz-box-shadow: 0 0 0px #ebebeb;
  -o-box-shadow: 0 0 0px #ebebeb;
  -ms-box-shadow: 0 0 0px #ebebeb;
}

.iups-picture {
  position: relative;
  margin: 0 auto;
  padding: 0px;
  margin: 0px 0 0px 0;
  border: 0px;

  /*float: left;*/
  /*width: 100px;*/
  /*height: 100px;*/
  /*background: #555;*/
  /*border: 0*/
  /*now to undo the border they put on by default*/
  box-shadow: 0 0 0px #ebebeb;
  -webkit-box-shadow: 0 0 0px #ebebeb;
  -moz-box-shadow: 0 0 0px #ebebeb;
  -o-box-shadow: 0 0 0px #ebebeb;
  -ms-box-shadow: 0 0 0px #ebebeb;
}

.flex-container {
  display: flex;
  /*flex-direction: column;*/
  /*background-color: DodgerBlue;*/
  align-content: center;
  justify-content: center;
  /*margin: 0; 
  width: 100%; 
  background-color: #f1f1f1;*/
}
.btn {
  display: none !important;
}
