---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.iups-header { 
	width: 100%; 
	background-image: url(img/IUPSTeamTourLogo.png); 
	background-size: cover; 
	background-position: center; 
} 

.iups-header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
  border: 0
}

.btn {
  display: none !important;
}
