<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" prefix="og: https://ogp.me/ns#">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="img/I-UPS_Team_Tour_Logo.ico">

    <meta property="og:title" content='{{page.title}}'>
    <meta property="og:site_name" content='I-UPS Summer Team Tour'>
    <meta property="og:url" content="https://redrouge1.github.io/TestPage/Elections">
    <meta property="og:description" content='Tour Rules'>
    <meta property="og:image" content="https://redrouge1.github.io/TestPage/source/images/logo.png">
    <meta property="og:image:secure_url" content="https://redrouge1.github.io/TestPage/source/images/IUPSTeamTourLogo.png">
    <meta property="og:image:type" content="image/png"> <!-- recommend type -->
    <meta property="og:image:alt" content='I-UPS Team Tour Logo'>
    <meta property="og:image:width" content="1200"> <!-- recommend size -->
    <meta property="og:image:height" content="1200"> <!-- recommend size -->
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    
{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    </style>
    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
	  <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>          
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
      </footer>
    </div>
  </body>
</html>
